$color-darkgrey: #333333;

$color-lightgrey: #eeeeee;

$color-main: #81b3d2;

$color-main-hover: #669ec0;

$color-main-active: #5496bd;

$color-background-page: #f2f2f2;

$color-warning: #ff5c5c;

$color-form-main: #f2f2f2;

$color-form-main-hover: #e5e5e5;

$color-form-main-active: #d5d5d5;

$tablet-widths: "(min-width: 768px)";

$desktop-widths: "(min-width: 1200px)";

$retina-images: "(min-resolution: 144dpi), min-resolution: 1.5dppx)";
