.copyright {
  @include text-description;
  @include text-uppercase;
  @include text-lh-large;
  margin: 0;
}

.copyright__picture {
  vertical-align: middle;
  margin-left: 10px;

  &:hover {
    fill: $color-main;
  }

  &:active {
    fill: #b2b2b2;
  }

}
