.date-trip {
  @include alignment;
  margin-top: 28px;
  margin-bottom: 65px;
  padding: 0 20px;
}

.date-trip__title {
  @include text-large;
  @include text-lh-large;
  margin: 0;
  margin-bottom: 20px;
}

.date-trip__description {
  @include text-description;
  @include text-lh-middle;
  @include text-uppercase;
  margin: 0;
  margin-bottom: 50px;
}



