.form {
  margin-bottom: 40px;
}

.form__block {
  padding: 0 20px 24px 20px;
  margin: 19px 0 0 0;
  border: none;
  border-bottom: 1px solid $color-form-main-hover;
}

.form__block--contacts {
  padding: 0 20px 28px 20px;
}

.form__block--radio {
  padding: 0 20px 28px 20px;
}

.form__block--checkbox {
  padding: 0 20px 26px 20px;
}

.form__block:last-of-type {
  border: none;
}

.form__heading {
  @include text-title;
  @include text-lh-large;
  @include alignment;
  margin-bottom: 21px;
}

.form__heading--contacts {
  text-align: left;
  padding-left: 19px;
  margin: 0 0 19px 0;
}

.form__heading--checkbox {
  margin-bottom: 15px;
}

.form__field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.form__field--contacts {
  flex-direction: column;
  align-items: stretch;
}

.form__field--names:not(:last-child) {
  margin-bottom: 20px;
}

.form__field--radio:not(:last-child) {
  margin-bottom: 13px;
}

.form__field--checkbox:not(:last-child) {
  margin-bottom: 24px;
}

.form__label {
  @include text-description;
  @include text-lh-large;
  @include text-uppercase;
}

.form__label-select {
  @include text-title;
  position: relative;
  text-transform: none;
  color: black;
  padding: 18px 0 18px 78px;
  cursor: pointer;
}

.form__label-select--radio {

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: $color-form-main;
    border: 18px solid $color-form-main;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      background-color: $color-form-main-hover;
      border-color: $color-form-main-hover;
    }
  }

  &:active {
    &::before {
      background-color: $color-form-main-active;
      border-color: $color-form-main-active;
    }
  }
}

.form__input-radio {
  display: none;
}

.form__input-radio[id="radio-good"]:checked ~ .form__label-select--radio[for="radio-good"] ,
.form__input-radio[id="radio-bad"]:checked ~ .form__label-select--radio[for="radio-bad"] ,
.form__input-radio[id="radio-neutral"]:checked ~ .form__label-select--radio[for="radio-neutral"] {
  &::before {
    background-color: $color-darkgrey;
    border-color: $color-form-main;
  }

  &:hover {
    &::before {
      background-color: $color-darkgrey;
      border-color: $color-form-main-hover;
    }
  }

  &:active {
    &::before {
      background-color: rgba($color-darkgrey, 0.3);
      border-color: $color-form-main-active;
    }
  }
}

.form__input-checkbox {
  display: none;
}

.form__label-select--ckeckbox {

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background-color: $color-form-main;
    background-size: 24px 16px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5px;
  }

  &:hover {
    &::before {
      background-color: $color-form-main-hover;
    }
  }

  &:active {
    &::before {
      background-color: $color-form-main-active;
    }
  }
}

.form__input-checkbox[id="devil-bridge"]:checked ~ .form__label-select--ckeckbox[for="devil-bridge"] ,
.form__input-checkbox[id="slide-park"]:checked ~ .form__label-select--ckeckbox[for="slide-park"] ,
.form__input-checkbox[id="mount-bell"]:checked ~ .form__label-select--ckeckbox[for="mount-bell"] ,
.form__input-checkbox[id="red-rocks"]:checked ~ .form__label-select--ckeckbox[for="red-rocks"] {

  &::before {
    background-image: url(../img/icon-tick.svg);
  }

  &:active {
    &::before {
      background-image: url(../img/icon-tick.svg);
    }
  }
}

.form__label--names {
  margin-right: 14px;
}

.form__label--contacts {
  padding-left: 22px;
  margin-bottom: 7px;
}

.form__input-text {
  border: 4px solid $color-form-main;
  background-color: $color-form-main;
  padding: 16px 18px;
  outline: none;

  &::placeholder {
    @include text-title;
    text-transform: none;
    color: black;
  }

  &:hover {
    border: 4px solid $color-form-main-hover;
    background-color: $color-form-main-hover;
  }

  &:focus {
    border: 4px solid $color-form-main-active;
    background-color: transparent;
  }

}

.form__input-text--names {
  width: 100%;
}

.form__input-text--contacts {
  padding-right: 58px;

}

.form__warning {
  @include text-description;
  @include text-lh-large;
  color: $color-warning;
  padding-left: 22px;
  margin-top: 5px;
  margin-bottom: 11px;
}

.form__text-area {
  background-color: $color-form-main;
  border: 4px solid  $color-form-main;
  width: 232px;
  height: 116px;
  outline: none;
  padding: 18px 20px;
  margin: 0;
  margin-top: -5px;
  resize: none;

  &:hover {
    background-color: $color-form-main-hover;
    border-color: $color-form-main-hover;
  }

  &:focus {
    background-color: transparent;
    border-color: $color-form-main-active;
  }

  &::placeholder {
    @include text-title;
    text-transform: none;
    color: black;
  }
}

.form__button {
  margin: 0 20px;
  font-size: 18px;
  margin-top: 27px;
}

.form__excerpt {
  display: none;
}

@media #{$tablet-widths} {

  .form {
    padding: 0 60px;
    margin-bottom: 64px;
  }

  .form__feedback {
    display: flex;
    flex-wrap: wrap;
  }

  .form__block {
    width: 100%;
    padding: 0;
    border: none;

    &:nth-child(1) {
      width: 50%;
      align-items: flex-end;
      margin-bottom: 50px;
    }

    &:nth-child(2) {
      margin-bottom: 34px;
    }

    &:nth-child(3) {
      order: -1;
      width: 50%;
      margin-bottom: 50px;
      box-shadow: 1px 0 0 0 $color-form-main-hover;
    }

    &:nth-child(4) {
      margin-bottom: 16px;
    }

    &:nth-child(5) {
      margin-bottom: 55px;
    }
  }

  .form__heading {
    @include text-large;
  }

  .form__heading--names {
    margin: 0;
    text-align: left;
    margin-left: 57px;
    margin-bottom: 58px;
  }

  .form__field--names {
    width: 82%;
    margin-left: auto;
  }

  .form__heading--radio {
    margin: 0;
    text-align: left;
    margin-bottom: 58px;
  }

  .form__field--radio:not(:last-child) {
    margin-bottom: 22px;
  }

  .form__heading--contacts {
    position: relative;
    margin-left: 165px;
    margin-bottom: 19px;

    &::before {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      top: 50%;
      left: -55%;
      background-color: $color-form-main-hover;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      top: 50%;
      right: -63%;
      background-color: $color-form-main-hover;
    }
  }

  .form__field--contacts {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    &:first-of-type {
      margin-bottom: 22px;
    }
  }

  .form__input-text--contacts {
    width: 100%;
  }

  .form__label--contacts {
    order: -2;
    width: 40%;
  }

  .form__warning {
    order: -1;
    width: 40%;
    align-self: flex-end;
    text-align: right;
    margin-bottom: 8px;
  }

  .form__heading--checkbox {
    position: relative;
    padding: 0 120px;
    margin-bottom: 41px;

    &::before {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: $color-form-main-hover;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      top: 50%;
      right: 0;
      background-color: $color-form-main-hover;
    }
  }

  .form__attraction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 64px;
  }

  .form__field--checkbox:not(:last-child) {
    margin-bottom: 33px;
  }

  .form__field--checkbox {
    box-sizing: border-box;
    width: 50%;

    &:nth-child(1) {
      order: -2;
      padding-left: 32px;
    }

    &:nth-child(2) {
      padding-left: 32px;
    }

    &:nth-child(3) {
      order: -1;
    }
  }

  .form__heading--textarea {

    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      top: 50%;
      left: -79%;
      background-color: $color-form-main-hover;
    }

    &::after {
      content: "";
      position: absolute;
      width: 125px;
      height: 1px;
      top: 50%;
      right: -79%;
      background-color: $color-form-main-hover;
    }
  }

  .form__heading--textarea {
    margin-bottom: 62px;
  }

  .form__text-area {
    box-sizing: border-box;
    width: 100%;
    height: 160px;
  }

  .form__button {
    width: 50%;
    margin: 0;
  }

  .form__excerpt {
    @include text-uppercase;
    @include text-description;
    @include text-lh-large;
    display: block;
    margin-left: auto;
    align-self: flex-end;
    margin-bottom: 14px;
  }
}

@media #{$desktop-widths} {

  .form {
    padding: 0 120px;
    margin-bottom: 64px;
  }

  .form__block {

    &:nth-child(1) {
      margin-bottom: 48px;
    }

    &:nth-child(3) {
      margin-bottom: 48px;
    }
  }

  .form__heading--names {
    margin-left: 80px;
  }

  .form__field--names {
    width: 82%;
    margin-left: 80px;
  }

  .form__heading--radio {
    margin-left: 80px;
  }

  .form__field--radio {
    margin-left: 2px;
  }

  .form__heading--contacts {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-left: 0;
    margin-bottom: 19px;

    &::before {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: $color-form-main-hover;
    }

    &::after {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      top: 50%;
      right: 0;
      background-color: $color-form-main-hover;
    }
  }

  .form__block--contacts {
    display: flex;
    flex-direction: row;
  }

  .form__field--contacts:first-of-type {
    margin-bottom: 0;
  }

  .form__field--contacts {
    box-sizing: border-box;
    width: 50%;
  }

  .form__heading--checkbox {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0 300px;
    margin-bottom: 42px;

    &::before {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      top: 50%;
      left: 0;
      background-color: $color-form-main-hover;
    }

    &::after {
      content: "";
      position: absolute;
      width: 280px;
      height: 1px;
      top: 50%;
      right: 0;
      background-color: $color-form-main-hover;
    }
  }

  .form__attraction {
    margin-left: 0;
    justify-content: space-between;
  }

  .form__field--checkbox {
    box-sizing: border-box;

    &:nth-child(1) {
      order: 1;
      padding-left: 0;
      width: 260px;
    }

    &:nth-child(2) {
      padding-left: 0;
      order: 3;
      width: 240px;
    }

    &:nth-child(3) {
      order: 2;
      width: 260px;
    }

    &:nth-child(4) {
      order: 4;
      width: 200px;
      margin-left: auto;
    }
  }

}

