.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form__block {
  display: flex;
  padding: 0 20px 24px 20px;
  margin: 19px 0 0 0;
  border: none;
  border-bottom: 1px solid $color-form-main-hover;
}

.form__block--contacts {
  padding: 0 20px 28px 20px;
}

.form__block--radio {
  padding: 0 20px 28px 20px;
}

.form__block--checkbox {
  padding: 0 20px 26px 20px;
}

.form__block:last-of-type {
  border: none;
}

.form__heading {
  @include text-title;
  @include text-lh-large;
  @include alignment;
  margin-bottom: 21px;
}

.form__heading--left-align {
  text-align: left;
  padding-left: 19px;
  margin: 0 0 19px 0;
}

.form__heading--checkbox {
  margin-bottom: 15px;
}

.form__field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.form__field--mobile-column {
  flex-direction: column;
  align-items: stretch;
}

.form__field--names:not(:last-child) {
  margin-bottom: 20px;
}

.form__field--radio:not(:last-child) {
  margin-bottom: 13px;
}

.form__field--checkbox:not(:last-child) {
  margin-bottom: 24px;
}

.form__label {
  @include text-description;
  @include text-lh-large;
  @include text-uppercase;
}

.form__label-select {
  @include text-title;
  position: relative;
  text-transform: none;
  color: black;
  padding: 18px 0 18px 78px;
  cursor: pointer;
}

.form__label-select--radio {

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: $color-form-main;
    border: 18px solid $color-form-main;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      background-color: $color-form-main-hover;
      border-color: $color-form-main-hover;
    }
  }

  &:active {
    &::before {
      background-color: $color-form-main-active;
      border-color: $color-form-main-active;
    }
  }
}

.form__input-radio {
  display: none;
}

.form__input-radio[id="radio-good"]:checked ~ .form__label-select--radio[for="radio-good"] ,
.form__input-radio[id="radio-bad"]:checked ~ .form__label-select--radio[for="radio-bad"] ,
.form__input-radio[id="radio-neutral"]:checked ~ .form__label-select--radio[for="radio-neutral"] {
  &::before {
    background-color: $color-darkgrey;
    border-color: $color-form-main;
  }

  &:hover {
    &::before {
      background-color: $color-darkgrey;
      border-color: $color-form-main-hover;
    }
  }

  &:active {
    &::before {
      background-color: rgba($color-darkgrey, 0.3);
      border-color: $color-form-main-active;
    }
  }
}

.form__input-checkbox {
  display: none;
}

.form__label-select--ckeckbox {

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    background-color: $color-form-main;
    background-size: 24px 16px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5px;
  }

  &:hover {
    &::before {
      background-color: $color-form-main-hover;
    }
  }

  &:active {
    &::before {
      background-color: $color-form-main-active;
    }
  }
}

.form__input-checkbox[id="devil-bridge"]:checked ~ .form__label-select--ckeckbox[for="devil-bridge"] ,
.form__input-checkbox[id="slide-park"]:checked ~ .form__label-select--ckeckbox[for="slide-park"] ,
.form__input-checkbox[id="mount-bell"]:checked ~ .form__label-select--ckeckbox[for="mount-bell"] ,
.form__input-checkbox[id="red-rocks"]:checked ~ .form__label-select--ckeckbox[for="red-rocks"] {

  &::before {
    background-image: url(../img/icon-tick.svg);
  }

  &:active {
    &::before {
      background-image: url(../img/icon-tick.svg);
    }
  }
}

.form__label--names {
  margin-right: 14px;
}

.form__label--contacts {
  padding-left: 22px;
  margin-bottom: 7px;
}

.form__input-text {
  flex-grow: 1;
  border: 4px solid $color-form-main;
  background-color: $color-form-main;
  padding: 16px 18px;
  outline: none;

  &::placeholder {
    @include text-title;
    text-transform: none;
    color: black;
  }

  &:hover {
    border: 4px solid $color-form-main-hover;
    background-color: $color-form-main-hover;
  }

  &:focus {
    border: 4px solid $color-form-main-active;
    background-color: transparent;
  }

}

.form__input-text--names {
  width: 50px;
}

.form__input-text--contacts {
  padding-right: 58px;

}

.form__warning {
  @include text-description;
  @include text-lh-large;
  color: $color-warning;
  padding-left: 22px;
  margin-top: 5px;
  margin-bottom: 11px;
}

.form__text-area {
  background-color: $color-form-main;
  border: 4px solid  $color-form-main;
  width: 232px;
  height: 116px;
  outline: none;
  padding: 18px 20px;
  margin: 0;
  margin-top: -5px;

  &:hover {
    background-color: $color-form-main-hover;
    border-color: $color-form-main-hover;
  }

  &:focus {
    background-color: transparent;
    border-color: $color-form-main-active;
  }

  &::placeholder {
    @include text-title;
    text-transform: none;
    color: black;
  }
}

.form__button {
  margin: 0 20px;
  font-size: 18px;
  margin-top: 27px;
}

.form__excerpt {
  display: none;
}


