.page-wrapper {
  width: 320px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 30px -10px black;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1200px;
  }

}
