.photo {
  display: flex;
  flex-direction: column;
  padding: 22px 20px 17px;
  border-top: 1px solid rgba(black, 0.1);

  &:last-child {
    border-bottom: 1px solid rgba(black, 0.1);
  }

}

.photo__picture {
  display: block;
}

.photo__title {
  @include text-description;
  @include text-lh-middle;
  @include text-uppercase;
  @include text-bold;
  margin-top: 15px;
}

.photo__author {
  @include text-description;
  @include text-lh-middle;
  margin-bottom: 8px;
}

.photo__likes {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.photo__like-button {
  border: none;
  background: none;
  background-image: url(../img/icon-like.svg);
  width: 22px;
  height: 20px;
  cursor: pointer;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}

.photo__like-amount {
  @include text-description;
  @include text-lh-middle;
  @include text-bold;
  display: inline-block;
  vertical-align: bottom;
}

@media #{$tablet-widths} {
  .photo {
    width: 50%;
    padding: 0;
    border-top: none;

    &:last-child {
      border-bottom: none;
    }

  }

  .photo__picture {
    width: 324px;
    height: 267px;
  }

  .photo--large {
    width: 100%;
  }

  .photo__picture--large {
    width: 648px;
    height: 400px;
  }

  .photo__about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $color-form-main;
    padding: 4px 21px;
  }

  .photo__title {
    margin-top: 12px;
  }

  .photo__author {
    margin-bottom: 12px;
  }

  .photo__likes {
    margin-right: 5px;
  }

  .photo__like-button {
    margin-right: 14px;
  }

}

@media #{$desktop-widths} {

  .photo {
    position: relative;
    width: 33.333333%;
  }

  .photo__picture {
    width: 100%;
    height: 267px;
  }

  .photo--large {
    width: 100%;
    height: 400px;
  }

  .photo__picture--large {
    width: 100%;
    height: 400px;
  }

  .photo__about {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(black, 0.4);
    color: white;
  }

}
