.reason {
  padding: 0 20px;
  @include alignment;
}

.reason--background-blue {
  padding: 40px 20px;
  background-color: $color-main;
  color: white;
}

.reason--icon {
  text-align: left;
  padding-left: 70px;
  padding-top: 12px;
  margin-top: 16px;
  position: relative;

  &:first-child {
    margin-top: 24px;
  }

  &:last-child {
    margin-bottom: 36px;
  }
}

.reason__icon-home {
  fill: $color-main;
  position: absolute;
  width: 39px;
  height: 43px;
  top: 0;
  left: 20px;
}

.reason__icon-souvenir {
  fill: $color-main;
  position: absolute;
  width: 41px;
  height: 38px;
  top: 0;
  left: 20px;
}

.reason__icon-food {
  fill: $color-main;
  position: absolute;
  width: 37px;
  height: 48px;
  top: 0;
  left: 20px;
}

.reason--background-grey {
  background-color: $color-lightgrey;
  position: relative;
  padding: 26px 35px 29px;
}

.reason--background-grey:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 0;
  width: auto;
  height: 1px;
  background-color: rgba(black, 0.2);
}

.reason__title {
  @include text-title;
  @include text-lh-large;
  margin: 0;
}

.reason__number {
  @include text-description;
  @include text-lh-small;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 9px 0 15px 0;
  padding: 0 15px;

  &::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: rgba(#000000, 0.6);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 2px;
    background-color: rgba(#000000, 0.6);
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.reason__number--background-blue {

  &::before {
    background-color: rgba(#ffffff, 0.6);
  }

  &::after {
    background-color: rgba(#ffffff, 0.6);
  }

}

.reason__description {
  @include text-description;
  @include text-lh-small;
  @include text-uppercase;
  margin: 0;
}

.reason__description--icons {
  margin-top: 14px
}

.reason--image {
  width: 320px;
  height: 260px;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.reason__picture {
  display: block;
  width: 100%;
}

.reason__transfer {
  display: none;
}

.reason__hyphen {
  display: none;
}

@media #{$tablet-widths} {
  .reason {
    margin: 0;
    width: 33.333333%;
    box-sizing: border-box;
  }

  .reason--image {
    height: 256px;
    overflow: hidden;
    width: 66.666666%;
  }

  .reason--background-blue {
    padding: 46px 45px 44px 45px;
  }

  .reason--align-right {
    order: 1;
  }

  .reason__title {
    @include text-large;
    @include text-lh-large;
    margin: 0;
  }

  .reason__number {
    margin: 9px 0 21px 0;
  }

  .reason--icon {
    @include alignment;
    padding: 58px 45px 61px;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
      padding: 58px 50px 61px;
    }

  }

  .reason__icon-home {
    position: static;
    width: 75px;
    height: 75px;
    margin-bottom: 23px;
  }

  .reason__icon-souvenir {
    position: static;
    width: 75px;
    height: 75px;
    margin-bottom: 23px;
  }

  .reason__icon-food {
    position: static;
    width: 75px;
    height: 75px;
    margin-bottom: 23px;
  }

  .reason--icon-souvenir {
    order: 1;
  }

  .reason__description--icons {
    margin-top: 21px;
  }

  .reason--background-grey {
    padding: 46px 50px 44px;

    &:nth-child(2) {
      padding: 46px 55px 44px;
    }

    &:not(:last-child)::after {
      background: none;
    }

  }

  .reason__transfer {
    display: block;
  }

  .reason__hyphen {
    display: inline-block;
    vertical-align: middle;
  }

}

@media #{$desktop-widths} {

  .reason--background-blue {
    padding: 53px 60px 44px;
  }

  .reason--align-right {
    padding: 53px 85px 44px;
  }

  .reason--icon {
    padding: 58px 45px 82px;
  }

  .reason--background-grey {
    padding: 46px 50px 64px;

    &:nth-child(1) {
      padding: 46px 65px 64px;
    }

    &:nth-child(2) {
      padding: 46px 65px 64px;
    }

  }

}


