.socials {
  padding: 0;
  margin: 36px 0 42px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 0;
}

.socials__link {
  width: 47px;
  height: 47px;
  background-color: $color-main;
  margin: 0 3px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $color-main-hover;
  }

  &:active {
    background-color: $color-main-active;
  }

  &:active .social__icon {
    opacity: 0.4;
  }

}

.social__icon {
  fill: white;
}

@media #{$tablet-widths} {
  .socials {
    margin: 0;
  }

}

@media #{$desktop-widths} {

  .socials {
    margin-right: 95px;
  }

}
